@media screen and (max-width: 1650px) {
  /* main block*/
  .main_left_block {
    width: 60%;
  }
  .consultation_form input {
    padding: 10px 25px 10px 15px;
  }
  .consultation_form button {
    font-size: 15px;
  }
  .main_right_block {
    width: 35%;
  }
}

@media screen and (max-width: 1590px) {
  .courses_wrapper {
    gap: 38px;
  }
}

@media screen and (max-width: 1500px) {
  .stats_item {
    width: 22%;
  }
  .courses_wrapper {
    gap: 0px;
    justify-content: space-between;
  }
  .one_course {
    width: 30%;
  }
}

@media screen and (max-width: 1415px) {
  .main_left_block {
    width: 60%;
    top: -155px;
  }
  .main_left_block-text {
    max-width: 82%;
  }
  .main_left_block-text h1 {
    font-size: 46px;
  }
  .main_right_block {
    width: 36%;
  }
  .consultation_form input {
    padding: 10px 15px 10px 15px;
    font-size: 13px;
  }
  .consultation_form button {
    font-size: 13px;
    font-weight: 600;
  }
  .photos_item img {
    width: 110px;
  }

  .container_stats {
    padding: 50px 80px;
  }
  .one_review-card {
    padding: 30px;
  }
}

@media screen and (max-width: 1360px) {
  .intership_blocks {
    gap: 18px;
  }
  .internship_blocks-item {
    padding: 20px;
  }
  .internship_blocks-item p {
    font-size: 15px;
    line-height: 30px;
  }
}

@media screen and (max-width: 1320px) {
  .stats_block {
    gap: 40px;
  }
  .stats_item {
    width: 30%;
  }
  .review_info {
    width: 34%;
  }
  .review_info h3 {
    font-size: 36px;
  }
  .swiper {
    left: 35%;
    width: 65%;
  }
}

@media screen and (max-width: 1280px) {
  main {
    min-height: 520px;
  }
  .main_right_block {
    height: 380px;
  }

  .photos_item img {
    width: 100px;
  }
  .main_left_block {
    top: -125px;
  }
  .main_left_block-text {
    max-width: 70%;
  }
  .main_left_block-text h1 {
    font-size: 40px;
  }

  .container_expectation h3 {
    font-size: 40px;
  }
  .intership_container h3 {
    font-size: 40px;
  }
  .courses_container h3 {
    font-size: 40px;
  }

  .consultation_left h4 {
    font-size: 40px;
  }
  .main_left_block-text p {
    font-size: 15px;
  }

  .consultation_form {
    padding: 12px;
  }
  .consultation_form input {
    padding: 10px 15px 10px 15px;
    font-size: 12px;
  }
  .consultation_form button {
    font-size: 12px;
    font-weight: 600;
  }

  .why_block_left {
    width: 35%;
  }
  .why_block_right {
    width: 55%;
  }
  .right_block-item {
    margin-top: 50px;
  }
  .why_block_left h3 {
    font-size: 40px;
  }
  .why_block_left p {
    font-size: 15px;
  }
  .right_block-item-text h5 {
    font-size: 20px;
    margin-bottom: 6px;
  }
  .right_block-item-text p {
    font-size: 15px;
    font-weight: 400;
  }
  .one_review-card {
    padding: 25px;
  }
  .content-item-left h6 {
    font-size: 13px;
  }
  #students_count {
    font-size: 14px;
  }
  .one_course h5 {
    font-size: 18px;
  }
}

@media screen and (max-width: 1180px) {
  .container_nav ul li {
    font-size: 15px;
  }
  .main_left_block {
    top: -120px;
  }
  .container_stats {
    padding: 50px 30px;
  }
  .consultation_form input {
    padding: 10px 5px 10px 15px;
  }
  .consultation_form button {
    font-weight: 600;
    padding: 12px 16px;
  }

  .stats_item {
    width: 43%;
  }
  .stats_block {
    gap: 20px;
  }

  .advantage_item {
    width: 45%;
    margin-bottom: 30px;
  }
  .advantage_item img {
    width: 80px;
  }
  .advantage_item h5 {
    font-size: 22px;
  }
  .advantage_item p {
    font-size: 15px;
  }
  .swiper {
    left: 50%;
    width: 42%;
  }
  .one_review-card {
    width: 97% !important;
  }
  .one_course {
    width: 32%;
  }
  .consultation_right {
    width: 45%;
    display: flex;
    align-items: center;
  }
  .consultation_right img {
    width: 100%;
  }
}

@media screen and (max-width: 1110px) {
  main {
    min-height: 440px;
  }
  .main_left_block {
    width: 58%;
    top: -105px;
  }
  .main_right_block {
    width: 36%;
    height: 330px;
  }
  .photos_item img {
    width: 90px;
  }
  .main_left_block-text h1 {
    font-size: 36px;
  }
  .why_block_left h3 {
    font-size: 36px;
  }
  .container_expectation h3 {
    font-size: 36px;
  }
  .courses_container h3 {
    font-size: 36px;
  }
  .intership_container h3 {
    font-size: 36px;
  }
  .review_info h3 {
    font-size: 36px;
  }
  .consultation_left h4 {
    font-size: 36px;
  }
  .main_left_block-text p {
    font-size: 14px;
  }
  .consultation_form {
    gap: 10px;
  }
  .consultation_form input {
    padding: 10px 0px 10px 10px;
    font-size: 11px;
  }
  .consultation_form button {
    font-weight: 600;
    padding: 10px 12px;
    font-size: 11px;
  }
  .stats_block {
    align-items: flex-start;
  }
  .stats_item {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .stats_block hr {
    height: 170px;
  }

  .one_course {
    width: 42%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1040px) {
  .intership_blocks {
    flex-wrap: wrap;
  }
  .internship_blocks-item {
    width: 48%;
    height: 220px;
    margin-bottom: 30px;
  }
  .swiper {
    left: 52%;
    width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .conatiner_main {
    margin-top: 170px;
  }
  .main_left_block {
    width: 55%;
    top: -230px;
  }
  .main_left_block-text {
    max-width: 90%;
  }
  .main_left_block-text h1 {
    font-size: 36px;
  }
  .main_left_block-text p {
    font-size: 14px;
  }
  .main_right_block {
    width: 30%;
  }
  .consultation_form {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  .consultation_form input {
    padding: 17px 260px 17px 17px;
    font-size: 12px;
  }
  .consultation_form button {
    font-weight: 600;
    padding: 15px auto;
    font-size: 13px;
  }
}

@media screen and (max-width: 980px) {
  .review_info {
    width: 38%;
  }
}

@media screen and (max-width: 940px) {
  .why_block_left {
    width: 40%;
    height: 500px;
  }
  .why_block_right {
    width: 50%;
  }
  .right_block-item {
    margin-top: 20px;
  }
  .consultation_block {
    flex-wrap: wrap;
  }
  .consultation_left {
    width: 100%;
  }
  .consultation_right {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 940px) {
  .stats_block {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .stats_block hr {
    height: 1px;
    width: 100%;
  }
}

@media screen and (max-width: 880px) {
  /* navbar */
  #burger-menu {
    display: block;
  }
  .nav_item_wrapper {
    display: none;
  }
  .logo {
    width: 100px;
  }

  .main_left_block-text {
    max-width: 100%;
  }
  .consultation_form input {
    padding: 17px 170px 17px 17px;
  }
}

@media screen and (max-width: 820px) {
  .container_why-block {
    flex-direction: column;
  }
  .why_block_left {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 10px;
  }
  .why_block_right {
    width: 100%;
  }
  .right_block-item {
    margin: 80px 0px;
  }
  .container_expectation {
    margin-top: 100px;
  }
  .swiper {
    left: 48%;
    width: 54%;
  }
  .one_course {
    width: 47%;
  }
}

@media screen and (max-width: 785px) {
  .main_left_block {
    width: 58%;
  }
  .main_right_block {
    width: 38%;
  }
  .consultation_form input {
    padding: 17px 140px 17px 17px;
  }
  .review_info h3 {
    font-size: 32px;
  }
  .consultation_right {
    width: 70%;
    margin: 20px;
  }

  /* footer */
  .footer_container {
    flex-direction: column;
    gap: 35px;
  }
}

@media screen and (max-width: 750px) {
  .why_block_left {
    height: 280px;
  }
  .why_block_left img {
    width: 60%;
    margin-bottom: 0;
  }
  .why_block_left h3 {
    margin: 0px 15px 15px;
  }
  .why_block_left p {
    width: 80%;
    margin: 0px 0px 15px 15px;
  }

  .swiper {
    left: 46%;
    width: 56%;
  }
  .reciews_block {
    gap: 12px;
  }
  .one_course {
    width: 56%;
    margin-bottom: 30px;
  }
  /* footer */
  .footer_left img {
    width: 124px;
  }
  .default_span_footer {
    display: none;
  }
  .adaptive_footer_span {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .conatiner_main {
    flex-direction: column;
    align-items: end;
    margin: 70px auto 100px;
  }
  .main_left_block {
    width: 100%;
    top: 0px;
    height: 460px;
  }
  .main_right_block {
    width: 100%;
    height: 250px;
    gap: 50px;
  }
  .photos_item img {
    width: 105px;
  }
  .courses_wrapper {
    justify-content: center;
  }
  .one_course {
    width: 70%;
  }
}

@media screen and (max-width: 680px) {
  .main_right_block {
    gap: 40px;
  }
  .internship_blocks-item {
    height: 250px;
  }
  .arrows {
    display: none;
  }
  .arrows-second {
    display: flex;
    gap: 15px;
  }
  .reviews {
    flex-direction: column;
    height: 640px;
  }
  .review_info {
    width: 80%;
  }
  .swiper {
    top: 140px;
    left: 0px;
    width: 65%;
  }
  .courses_container {
    margin-top: 150px;
  }
}
@media screen and (max-width: 650px) {
  .main_right_block {
    gap: 20px;
  }
}
@media screen and (max-width: 615px) {
  .swiper {
    width: 74%;
  }
  .consultation_right {
    width: 90%;
  }
  .consultation_left {
    margin: 45px;
  }
}
@media screen and (max-width: 600px) {
  .intership_container h3 {
    width: 90%;
  }
  .internship_blocks-item {
    height: 215px;
  }

  .internship_blocks-item {
    width: 80%;
  }
}
@media screen and (max-width: 580px) {
  .conatiner_main {
    align-items: start;
  }
  .main_right_block {
    width: 80%;
    height: 400px;
  }
  .consultation_form {
    position: relative;
    width: 100%;
  }
  .why_block_left {
    height: 440px;
    flex-direction: column;
  }
  .why_block_left img {
    width: 80%;
    margin: 0px auto 60px;
  }
  .review_info {
    width: 90%;
  }
}
@media screen and (max-width: 550px) {
  .main_right_block {
    width: 90%;
  }
  .stats_block {
    align-items: start;
  }
  .stats_item {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    text-align: start;
  }
  .stats_item span {
    width: 100%;
  }
  .one_course {
    width: 80%;
  }
  .consultation_left button {
    font-size: 15px;
  }
}

@media screen and (max-width: 525px) {
  .stats_item h2 {
    font-size: 40px;
  }
  .right_block-item {
    margin: 50px 0px;
  }
  .right_block-item img {
    width: 58px;
  }
  .right_block-item-text h5 {
    font-size: 18px;
  }
  .right_block-item-text p {
    font-size: 14px;
  }
  .swiper {
    width: 85%;
  }
}

@media screen and (max-width: 500px) {
  .review_info {
    width: 90%;
  }
  .reviews {
    height: 660px;
  }
  .swiper {
    width: 90%;
    left: 5%;
    top: 170px;
  }
  .one_review-card p {
    font-size: 15px;
  }
  .card_user-info-content {
    gap: 8px;
  }
  .card_user-info-content img {
    width: 45px;
  }
  .card_user-info-text h5 {
    font-size: 15px;
  }
  .card_user-info-text p {
    font-size: 14px;
  }
}
@media screen and (max-width: 475px) {
  .main_right_block {
    width: 100%;
  }
  .why_block_left {
    height: 480px;
  }
  .why_block_left img {
    width: 100%;
    margin-top: 10px;
  }
  .internship_blocks-item {
    width: 100%;
    height: 245px;
    margin-bottom: 20px;
  }
  .one_course {
    width: 90%;
  }
  .consultation_left h4 {
    font-size: 30px;
  }
  .consultation_left p {
    font-size: 14px;
  }
  .consultation_left button {
    width: 100%;
    font-size: 14px;
    padding: 14px 0px;
  }
}
@media screen and (max-width: 430px) {
  .main_right_block {
    width: 100%;
    gap: 12px;
  }
  .photos_item img {
    width: 50px;
  }
  .right_block-item {
    display: flex;
    flex-direction: column;
  }
  .advantage_item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .advantage_item img {
    width: 60px;
  }
  .advantage_item h5 {
    font-size: 20px;
  }
  .advantage_item p {
    font-size: 14px;
  }
  .advantage_item-text {
    display: flex;
    flex-direction: column;
  }
  .swiper {
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  /* footerr */
  .footer_container {
    gap: 25px;
  }
  .phone_number span {
    font-size: 13px;
  }
  .footer_right p {
    font-size: 15px;
  }
}

@media screen and (max-width: 410px) {
  .main_left_block-text h1 {
    font-size: 30px;
  }
  .main_left_block-text {
    font-size: 14px;
  }
  .why_block_left {
    height: 420px;
  }
  .why_block_left h3 {
    font-size: 30px;
  }
  .container_expectation h3 {
    font-size: 30px;
  }
  .intership_container h3 {
    font-size: 30px;
  }
  .courses_container h3 {
    font-size: 30px;
  }
  .review_info h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 410px) {
  .main_right_block {
    width: 100%;
    height: 350px;
    gap: 8px;
  }
  .photos_item img {
    width: 100px;
  }
  .consultation_form input {
    padding: 17px;
  }
  .stats_item h2 {
    font-size: 32px;
  }
  .stats_item span {
    font-size: 14px;
  }
  .one_course {
    width: 100%;
  }
  .consultation_left {
    margin: 22px;
  }
}
@media screen and (max-width: 385px) {
  .main_right_block {
    height: 330px;
    gap: 6px;
  }
  .main_left_block-text h1 {
    font-size: 28px;
  }
  .why_block_left h3 {
    font-size: 28px;
  }
  .container_expectation h3 {
    font-size: 28px;
  }
  .intership_container h3 {
    font-size: 28px;
  }
  .review_info h3 {
    font-size: 28px;
  }
  .courses_container h3 {
    font-size: 28px;
  }
  .consultation_left h4 {
    font-size: 28px;
  }
  .photos_item img {
    width: 90px;
  }
}
@media screen and (max-width: 340px) {
  .main_right_block {
    margin-top: 50px;
    height: 340px;
    gap: 6px;
  }
  .photos_item img {
    width: 82px;
  }
  .why_block_left {
    height: 400px;
  }
}
