@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  cursor: default;
  user-select: none;
}

body {
  scroll-behavior: smooth;

  scrollbar-width: thin;
  scrollbar-color: #333 #ddd;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #6f6f6f96;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #4f4f4faf;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

button {
  cursor: pointer;
}

:root {
  --sale-bg-color: #2b59c3;
  --color-main-white: #fffffd;
  --color-main-black: #1b1c1f;
  --color-icon-orange: #ff784f;
}

.adaptive_header {
  display: none;
}
.adaptive_button {
  display: none;
}
.adaptive_footer_span {
  display: none;
}
.adaptive_discount_button {
  display: none;
}

.container {
  max-width: 1380px;
  width: 83%;
  margin: auto;
}

/* advertising_header start */
.advertising_header {
  width: 100%;
  min-height: 90px;
  background-color: var(--sale-bg-color);
}
.advertising_header_wrapper {
  margin: auto;
  margin-right: 20px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-main-white);
}

.advertising_header p {
  font-weight: 700;
  font-size: 24px;
}

.advertising_header .advertising_header_item button {
  border-radius: 30px;
  border: 1px solid var(--color-main-white);
  padding: 14px 60px;
  background-color: transparent;
  color: var(--color-main-white);
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
}

.advertising_header .advertising_header_item img {
  width: 79px;
  margin-top: 18px;
}

.advertising_header_item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
}

/* advertising_header end */

/* navbar start */

.wrapper {
  position: relative;
}

nav {
  position: sticky;
  z-index: 10;
  width: 100%;
  top: 0px;
  height: 100px;
  background-color: var(--color-main-white);
  display: flex;
  align-items: center;
}

.container_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.container_nav img {
  cursor: pointer;
}

.container_nav ul li {
  color: var(--color-main-black);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.container_nav ul button {
  background-color: var(--sale-bg-color);
  border-radius: 80px;
  border: 1px solid var(--color-main-white);
  text-align: justify;
  padding: 13px 35px;
  color: var(--color-main-white);
}

.nav_item_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
}

.container_nav {
  position: relative;
  z-index: 2;
}

/* navbar end */

/* main start */
main {
  min-height: 622px;
  margin-top: 83px;
}

.conatiner_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
  position: relative;
  z-index: 5;
}

.bg_sphere {
  width: 379px;
  height: 379px;
  opacity: 0.15;
  border-radius: 100%;
  filter: blur(150px);
  background-color: var(--color-icon-orange);

  position: absolute;
  left: -220px;
  top: -20px;
}

.main_left_block {
  max-width: 45%;
  min-width: 186px;
}

.main_left_block h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 125%;
  width: 100%;
}

.main_left_block h1 span {
  color: var(--sale-bg-color);
}

.main_left_block p {
  font-size: 16px;
  font-weight: 400;
  line-height: 145%;
}

.main_left_block button {
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid var(--sale-bg-color);
  padding: 14px 60px;
  color: var(--sale-bg-color);
  margin-top: 36px;
}

/* main end */

/* stats start */

.container_stats {
  margin-top: 32px;
  margin-bottom: 102px;
  background-color: var(--sale-bg-color);
  border-radius: 28px;
  min-height: 198px;
  padding: 50px 114px;
}

.stats_block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.stats_item {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.stats_item h2 {
  color: white;
  font-size: 64px;
  font-weight: 700;
}
.stats_item span {
  width: 50%;
  color: var(--color-main-white);
}
.stats_block hr {
  height: 95px;
  width: 2px;
  background-color: white;
}
/* stats end */

/* facts start */
.container_facts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.container_facts h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 125%;
}
.facts_item_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 44px;
}
.facts_item {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.facts_item_header {
  display: flex;
  align-items: center;
  gap: 14px;
}

.facts_item_header img {
  background-color: var(--color-icon-orange);
  min-width: 52px;
  min-height: 52px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
}
/* facts end */

/* advantage start */
.container_expectation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 102px;
}
.expectation_content_wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.container_expectation img {
  width: 650px;
}
.expectation_content_wrapper h2 {
  columns: var(--color-main-black);
  font-size: 36px;
  font-weight: 700;
}
.expectation_content_wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.expectation_content_wrapper ul li {
  display: flex;
  align-items: center;
}
.expectation_content_wrapper ul li img {
  background-color: var(--color-icon-orange);
  padding: 10px;
  width: 52px;
  border-radius: 10px;
  margin-right: 9px;
}
.expectation_content_wrapper ul li span {
  font-weight: 600;
  font-size: 24px;
}
/* advantage end */
/* programmer start */
.programmer_container {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
}
.programmer_left {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.programmer_left h2 {
  color: var(--color-main-black);
  font-size: 36px;
  font-weight: 700;
}
.programmer_left h2 span {
  color: var(--sale-bg-color);
}
.programmer_left_content_wrapper {
  width: 61%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.programmer_left_content_wrapper p {
  font-size: 20px;
}
.programmer_left_content_wrapper button,
.adaptive_button {
  background-color: transparent;
  color: var(--sale-bg-color);
  padding: 14px 60px;
  border-radius: 30px;
  border: 1px solid var(--sale-bg-color);
  font-size: 16px;
  font-weight: 500;
}

.programmer_right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 40%;
  position: relative;
}

.programmer_right svg {
  position: absolute;
  top: 40px;
  left: 20px;
  z-index: -1;
}

.programmer_right li {
  display: flex;
  align-items: flex-start;
  gap: 18px;
}

.programmer_right li h4 {
  background-color: var(--color-icon-orange);
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 7px 10px 6px 10px;
  border-radius: 10px;
  border: 1px solid var(--color-icon-orange);
}

.programmer_item_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.programmer_item_content h3 {
  color: var(--color-main-black);
  font-weight: 600;
  font-size: 20px;
}

.programmer_item_content p {
  width: 90%;
}

/* programmer end */
/* format start */
.format_container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 102px;
}
.format_wrapper {
  background-color: var(--sale-bg-color);
  color: var(--color-main-white);
  padding: 32px 32px 44px 32px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-radius: 20px;
  width: 100%;
}
.format_wrapper h2 {
  font-size: 32px;
  font-weight: 600;
}
.format_wrapper hr {
  width: 100%;
  height: 1px;
}
.format_wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.format_wrapper ul li {
  position: relative;
  left: 32px;
}
.format_wrapper ul li::before {
  content: url(../assets/svg/tick_circle.svg);
  position: absolute;
  left: -32px;
  z-index: 5;
}
/* format end */

/* discount start */
.discount_container {
  background-color: var(--color-icon-orange);
  border-radius: 20px;
  height: 246px;
  position: relative;
  z-index: 5;
  padding: 23px 83px 45px 32px;
  margin-bottom: 102px;
}
.discount_content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.discount_content h2 {
  color: white;
  font-size: 32px;
  font-weight: 700;
}
.discount_content p {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.form_inputs {
  display: flex;
  gap: 12px;
  margin: 14px 0 20px;
}
.form_inputs input {
  padding: 10px 18px;
  background-color: #e35e35;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #e0e5ed;
  outline: none;
}
.form_inputs input::placeholder {
  color: #e0e5ed;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.form_inputs button,
.adaptive_discount_button {
  width: 100%;
  background-color: var(--color-main-white);
  border-radius: 10px;
  border: none;
  color: var(--color-icon-orange);
  font-weight: 500;
  font-size: 16px;
}

.discount_checkbox {
  display: flex;
  gap: 8px;
  align-items: center;
}
.discount_checkbox label {
  color: var(--color-main-white);
}

.discount_checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
}

.discount_checkbox input[type="checkbox"]::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease-out;
}

.discount_checkbox input[type="checkbox"]:checked::before {
  background-image: url(../assets/svg/check.svg);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.sphere {
  position: absolute;
  right: 163px;
  bottom: 0;
  z-index: -4;
}

.lightning-1 {
  position: absolute;
  right: 58px;
  bottom: 0;
  z-index: -2;
}

.lightning-2 {
  position: absolute;
  right: 34px;
  top: 11px;
  z-index: -3;
}
.lightning-3 {
  position: absolute;
  right: 36px;
  bottom: 0;
  z-index: -2;
}
.percent {
  position: absolute;
  z-index: -1;
  top: 17px;
  right: 58px;
}
/* discount end */
/* footer start */
footer {
  background-color: var(--color-main-black);
  height: 214px;
  display: flex;
  align-items: center;
}
.footer_container {
  display: flex;
  justify-content: space-between;
}
.footer_left {
  display: flex;
  flex-direction: column;
}

.footer_left img {
  width: 157px;
  height: auto;
}

.footer_left span,
.adaptive_footer_span {
  font-size: 16px;
  color: #767e8c;
  font-weight: 400;
}

.footer_right {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
.phone_number {
  display: flex;
  gap: 24px;
}

.phone_number span {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
}

.footer_right p {
  font-size: 16px;
  font-weight: 500;
}

.net_link {
  display: flex;
  gap: 12px;
}
.net_link img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* footer end */
