@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  cursor: default;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #333 #ddd;
}

/* Стили для scrollbar - оставьте неизменными */

:root {
  --sale-bg-color: rgba(43, 89, 195, 1);
  --color-main-gray: rgba(247, 247, 247, 1);
  --color-main-white: #fffffd;
  --color-main-black: #1b1c1f;
  --color-icon-orange: rgba(255, 120, 79, 1);
  --color-icon-blue: rgba(43, 89, 195, 1);
}
button {
  cursor: pointer;
}

.hide {
  display: none !important;
}

/* Уменьшение дублирования селекторов */

.adaptive_header,
.adaptive_button,
.adaptive_footer_span,
.adaptive_discount_button {
  display: none;
}

.container {
  max-width: 1380px;
  width: 83%;
  margin: auto;
}

/* navbar start */

.wrapper {
  position: relative;
  overflow-x: hidden;
}

nav {
  /*position: sticky;*/
  z-index: 10;
  width: 100%;
  top: 0px;
  height: 100px;
  background-color: var(--color-main-white);
  display: flex;
  align-items: center;
}

.container_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.container_nav img {
  cursor: pointer;
}

.container_nav ul li {
  color: var(--color-main-black);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.container_nav ul button {
  background-color: var(--sale-bg-color);
  border-radius: 80px;
  outline: none;
  border: none;
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 35px;
  color: var(--color-main-white);
  transition: 0.3s;
}

.container_nav ul button:hover {
  background-color: rgb(31, 69, 158);
}

.nav_item_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
}

.container_nav {
  position: relative;
  z-index: 2;
}

#burger-menu {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

#sidebar_wrapper {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.171);
  display: flex;
  justify-content: end;
  z-index: 999;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}
.sidebar {
  width: 85%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
}

#sidebar_wrapper.open {
  pointer-events: all;
  right: 0%;
  opacity: 1;
}

.close_icon {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 20px;
  cursor: pointer;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 18px;
  font-weight: 500;
}

.sidebar-content button {
  background-color: var(--sale-bg-color);
  border-radius: 80px;
  width: 180px;
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 18px;
  color: var(--color-main-white);
  transition: 0.3s;
}

.sidebar-content button:hover {
  background-color: rgb(31, 69, 158);
}

/* navbar end */

/* main start */
main {
  min-height: 622px;
  margin-top: 83px;
}

.conatiner_main {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  gap: 18px;
  position: relative;
  z-index: 5;
}

.bg_sphere {
  width: 379px;
  height: 379px;
  opacity: 0.15;
  border-radius: 100%;
  filter: blur(100px);
  background-color: var(--color-icon-orange);

  position: absolute;
  left: -320px;
  top: -40px;
}

.bg_sphere-2 {
  width: 379px;
  height: 379px;
  opacity: 0.15;
  border-radius: 100%;
  filter: blur(150px);
  background-color: var(--color-icon-blue);

  position: absolute;
  right: -420px;
  top: -190px;
}

.main_left_block {
  position: relative;
  top: -145px;
  width: 66%;
  min-width: 186px;
}

.main_left_block-text {
  max-width: 65%;
}

.main_left_block-text h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 125%;
  width: 100%;
}

.main_left_block-text h1 span {
  color: var(--sale-bg-color);
  font-weight: 800;
}

.main_left_block-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 145%;
}

.consultation_form {
  position: absolute;
  width: auto;
  padding: 20px;
  margin-top: 32px;
  border-radius: 16px;
  display: flex;
  gap: 16px;
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 7px 11px 40px 15px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 7px 11px 40px 12px rgba(0, 0, 0, 0.05);
  box-shadow: 7px 11px 40px 12px rgba(0, 0, 0, 0.05);
}

.consultation_form input {
  padding: 17px 100px 17px 17px;
  border-radius: 8px;
  background-color: var(--color-main-gray);
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
}

.consultation_form button {
  border: 1px solid rgba(43, 89, 195, 1);
  border-radius: 30px;
  padding: 14px 21px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(43, 89, 195, 1);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}
.consultation_form button:hover {
  background-color: rgb(236, 236, 236);
}

.main_right_block {
  width: 30%;
  height: 450px;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  gap: 15px;
}

/* main end */

/* stats start */

.container_stats {
  margin-top: 32px;
  margin-bottom: 102px;
  background-color: var(--sale-bg-color);
  border-radius: 28px;
  min-height: 198px;
  padding: 50px 114px;
}

.stats_block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.stats_item {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.stats_item h2 {
  color: white;
  font-size: 64px;
  font-weight: 700;
}
.stats_item span {
  width: 70%;
  color: var(--color-main-white);
  font-size: 16px;
}
.stats_block hr {
  height: 95px;
  width: 2px;
  background-color: white;
}
/* stats end */

/* why-blocks start */
.container_why-block {
  display: flex;
  justify-content: space-between;
  /*flex-direction: column;*/
  margin-bottom: 100px;
  gap: 32px;
}
.why_block_left {
  width: 32%;
  padding: 40px 16px 5px 5px;
  background-color: rgba(247, 247, 253, 1);
  border: 1.5px solid rgba(224, 222, 247, 1);
  border-radius: 16px;
}
.why_block_left h3 {
  font-size: 48px;
  font-weight: 700;
  margin: 0px 35px 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: rgba(255, 120, 79, 1);
}
.why_block_left h3 span {
  color: rgba(24, 25, 31, 1);
}
.why_block_left p {
  width: 60%;
  font-size: 16px;
  font-weight: 400;
  margin: 0px 35px 26px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: rgba(16, 10, 85, 1);
}
.why_block_left img {
  width: 100%;
  margin-bottom: 20px;
}

.why_block_right {
  width: 60%;
}
.right_block-item {
  width: 95%;
  display: flex;
  align-items: start;
  gap: 24px;
  margin: 75px 0px 44px;
}
.right_block-item-text h5 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: rgba(24, 25, 31, 1);
}
.right_block-item-text p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(27, 28, 31, 1);
}

/* why-block end */

/* advantage start */
.container_expectation {
  margin: 200px auto 100px;
}
.container_expectation h3 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 48px;
}
.advantages_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantage_item {
  width: 22%;
}
.advantage_item h5 {
  font-weight: 700;
  font-size: 24px;
  margin: 10px 0px;
}
.advantage_item p {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: rgba(27, 28, 31, 1);
}
/* advantage end */

/* intership program start */

.internship_block {
  width: 100%;
  margin-top: 150px;
  padding: 100px 0px;
  background-color: rgba(239, 242, 247, 1);
}
.internship_container {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
}
.intership_container h3 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 48px;
}
.intership_container h3 span {
  color: rgba(43, 89, 195, 1);
}
.intership_blocks {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.internship_blocks-item {
  width: 25%;
  padding: 24px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  border-top: 1px solid red;
}
.item_blue {
  border-top: 1px solid rgba(43, 89, 195, 1);
}
.internship_blocks-item p {
  line-height: 35px;
  margin-top: 20px;
}

/* intership program end */

/* reviews start */

.reviews_container {
  position: relative;
  margin: 100px auto 200px;
}
.reviews {
  display: flex;
  justify-content: space-between;
}
.review_info {
  width: 40%;
}
.review_info h3 {
  font-size: 48px;
  font-weight: 700;
}
.review_info h3 span {
  color: rgba(43, 89, 195, 1);
}

.arrows {
  position: relative;
  margin-top: 90px;
  display: flex;
  gap: 15px;
}
.arrows-second {
  display: none;
}
.arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  background-color: rgba(43, 89, 195, 0.1);
}
.arrow:hover {
  background-color: rgba(43, 89, 195, 0.315);
}
.arrow img {
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  position: static !important;
}
.swiper-button-prev:after {
  content: "";
}
.swiper-button-next:after {
  content: "";
}

.swiper {
  position: absolute;
  overflow: hidden;
  width: 60%;
  left: 40%;
}
.swiper-pagination {
  position: relative;
  margin-top: 30px;
}
.reciews_block {
  display: flex;
  gap: 16px;
}
.one_review-card {
  width: 48.5% !important;
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(239, 242, 247, 1);
}
.one_review-card p {
  font-weight: 400;
  color: rgba(1, 1, 1, 1);
  margin-bottom: 20px;
}
.card_imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.card_user-info {
  display: flex;
  justify-content: space-between;
}
.card_user-info-content {
  display: flex;
  align-items: center;
  gap: 14px;
}
.card_user-info-text {
  display: flex;
  flex-direction: column;
}
.card_user-info-text h5 {
  margin-top: 25px;
  font-weight: 600;
  font-size: 17px;
}
.card_user-info-text p {
  font-weight: 400;
  font-size: 15px;
}
/* reviews end */

/* courses start */
.courses_container {
  margin-top: 300px;
}
.courses_container h3 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
.courses_container h3 span {
  color: rgba(43, 89, 195, 1);
}

.courses_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 72px;
  margin-bottom: 100px;
}
.one_course {
  width: 32%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 7px 11px 40px 15px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 7px 11px 40px 16px rgba(0, 0, 0, 0.05);
  box-shadow: 7px 11px 40px 16px rgba(0, 0, 0, 0.05);
}
.one_course h5 {
  font-weight: 600;
  font-size: 20px;
  margin: 12px 0px;
}
.course_line {
  width: 80%;
  height: 1px;
  background-color: rgba(224, 229, 237, 1);
}
.one_course_content {
  margin-top: 16px;
}
.one_course_content-item p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(118, 126, 140, 1);
}
.one_course_content-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.content-item-left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.content-item-left h6 {
  font-size: 14px;
  font-weight: 400;
  color: rgba(29, 32, 38, 1);
}
#students_count {
  color: rgba(27, 28, 31, 1);
  font-size: 16px;
}
#students_count-text {
  color: rgba(27, 28, 31, 1);
  font-size: 16px;
}

/* courses end */

/* consultation start */
.consultation_container {
  margin: 200px auto 100px;
}
.consultation_block {
  border-radius: 16px;
  background-color: rgba(247, 247, 253, 1);
  border: 1px solid rgba(224, 222, 247, 1);
  display: flex;
  justify-content: space-between;
}
.consultation_left {
  width: 40%;
  margin: 64px;
}
.consultation_left h4 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 16px;
}
.consultation_left span {
  color: rgba(43, 89, 195, 1);
}
.consultation_left p {
  color: rgba(108, 114, 127, 1);
  line-height: 25px;
  margin-bottom: 32px;
}
.consultation_left button {
  border-radius: 30px;
  background-color: rgba(43, 89, 195, 1);
  border: none;
  outline: none;
  padding: 14px 64px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  transition: 0.3s;
}
.consultation_left button:hover {
  background-color: rgb(31, 69, 158);
}
/* consultation end */

/* footer start */
footer {
  background-color: rgba(27, 28, 31, 1);
  height: auto;
  padding: 45px 0px;
  display: flex;
  align-items: center;
}
.footer_container {
  display: flex;
  justify-content: space-between;
}
.footer_left {
  display: flex;
  flex-direction: column;
}

.footer_left img {
  width: 157px;
  height: auto;
}

.footer_left span,
.adaptive_footer_span {
  font-size: 16px;
  color: #767e8c;
  font-weight: 400;
}

.footer_right {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
.phone_number {
  display: flex;
  gap: 24px;
}

.phone_number span {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
}

.footer_right p {
  font-size: 16px;
  font-weight: 500;
}

.net_link {
  display: flex;
  gap: 12px;
  cursor: pointer;
}
.net_link img {
  height: auto;
  cursor: pointer;
}
.net_link svg {
  width: 40%;
}

/* footer end */
